<div>
  <h1>Sign in</h1>

  <form>
    <label>Email</label>
    {{input type='email' value=identification}}
    <label>Password</label>
    {{input type='password' value=password}}
    <button {{action 'authenticate'}}>Sign in</button>
  </form>
</div>
